global
    log stdout local0

defaults
    mode http

frontend ws
    mode http
    bind *:9002
    default_backend ws

backend ws
    server ws 127.0.0.1:9000

frontend wss
    mode http
    bind *:9003         tfo ssl alpn h2,http/1.1 npn h2,http/1.1 crt reg-tests/ssl/common.pem
    default_backend wss

backend wss
    server ws 127.0.0.1:9001 ssl verify none

